In [13]:
# Importando biblioteca

import pandas as pd

## Criando uma Série - Possui uma coluna, portanto, é unidimencional

In [3]:
s = pd.Series(['Banana', 42])
print(s)

0    Banana
1        42
dtype: object

In [6]:
# atribui valores de índice manualmente em uma série
# passando uma list Python
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])

print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

## Criando um DataFrame

In [17]:
# Muito importante: Quando apresenta o erro 'All arrays must be of the same length' isso significa que os values estão
# diferentes. No meu acaso esqueci de completar as aspas em Age o que causou esse erro. Lembrando que a ordem não é
# garantida porque os dicionários Python não são ordenados.

scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],  
    'Died': ['1958-04-16', '1937-10-16'],
    'Age' : ['37', '61']})

scientists

                Name    Occupation        Born        Died Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16  37
1     William Gosset  Statistician  1876-06-13  1937-10-16  61

In [18]:
# COlocar a coluna name para o índice da linha, para tanto, usamos index

scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
         'Born': ['1920-07-25', '1876-06-13'],
         'Died': ['1958-04-16', '1937-10-16'],
         'Age': ['37', '61']},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

                     Occupation        Born        Died Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16  37
William Gosset     Statistician  1876-06-13  1937-10-16  61

## Series

In [22]:
# Criar o nosso dataframe de exemplo
# com um rótulo de índice de linhas

scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
         'Born': ['1920-07-25', '1876-06-13'],
         'Died': ['1958-04-16', '1937-10-16'],
         'Age': ['37', '61']},
    index=['Rosaline Franklin', 'Willaim Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)

print(scientists)

                     Occupation        Born        Died Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16  37
Willaim Gosset     Statistician  1876-06-13  1937-10-16  61

In [23]:
# Selecionamos um cientista pelo rótulo do índice da liHna

first_row=scientists.loc['Willaim Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: Willaim Gosset, dtype: object